{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
    
    #foto-azhar{
        position:absolute;
        left: 70%;
        top: 25%;
        
        border-radius: 50%;
    }
    .head{
        font-family: 'Convergence', sans-serif;
    }
</style>
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <img id="foto-azhar" src="http://image.ibb.co/iojuik/buat_ppw.jpg" alt="buat_ppw" border="0"/> 
    <h2>Bio</h2>
    <p>

        {{content}}
    </p>    
</section>
<hr/>

<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
